.panel:after, .projects header:after {
  content: "";
  display: table;
  clear: both; }

header.navigation {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #33333f;
  color: white; }
  header.navigation * {
    position: relative;
    display: inline-block;
    text-align: center; }
  header.navigation nav {
    width: 100%; }
    header.navigation nav ul {
      width: 100%;
      min-width: 320px;
      max-width: 700px;
      margin: 0 auto;
      margin: 0; }
    header.navigation nav a {
      color: white;
      float: left;
      width: 33%;
      padding: 15px;
      font-size: 1.2em; }
      header.navigation nav a:hover {
        font-size: 1.3em;
        background-color: black; }

.panel {
  margin: 0 auto;
  max-width: 700px; }
  .panel .card {
    background-color: #666699; }
    .panel .card .photo {
      overflow: hidden;
      margin: 5px auto;
      width: 195px;
      height: 246px; }
      .panel .card .photo img {
        width: 195px;
        height: 246px; }
    .panel .card .name {
      font-size: 1.5em;
      font-weight: 900;
      padding: 10px;
      color: white;
      text-align: center; }
  .panel .links {
    width: 300px; }
    .panel .links a {
      margin: 10px 10px;
      float: right; }
    .panel .links .link-icon {
      cursor: pointer;
      border-radius: 100%;
      width: 80px;
      height: 80px;
      background-color: #ddddff; }
    .panel .links .link-icon:hover {
      background-color: #666699; }
    .panel .links img {
      margin: 20px;
      width: 40px;
      height: 40px; }
  .panel .skills {
    clear: both;
    width: 100%; }

.projects .project {
  background-color: #666699;
  border: solid 1px white;
  padding: 20px;
  margin: 10px auto;
  min-width: 300px;
  max-width: 600px; }
.projects header .title {
  font-size: 1.8em; }
.projects header .info {
  float: right; }
.projects .description {
  font-size: 1.2em;
  margin: 5px; }
.projects .link {
  text-decoration: underline; }
.projects li {
  font-size: 1.2em; }

.tech-keyword {
  border: 1px solid white;
  display: inline-block;
  padding: 9px 18px;
  margin: 6px;
  border-radius: 6px;
  color: white; }
  .tech-keyword.big {
    font-size: 1.2em; }
  .tech-keyword.medium {
    font-size: 1em; }
  .tech-keyword.small {
    font-size: 0.8em; }

.card-img {
  width: 260px;
  height: 260px;
  margin: 20px auto; }

.waterbase-img {
  background-image: url(../assets/waterbase_bg.png);
  background-size: 100%; }
  .waterbase-img img {
    width: 50%;
    height: auto;
    margin: 25%; }

.twenty-img img {
  height: 100%;
  width: auto;
  display: inline; }

.project-overview {
  text-align: center; }
  .project-overview .title {
    font-size: 2em; }
  .project-overview .description {
    font-size: 1.2em;
    text-align: left;
    margin: 5px; }

* {
  box-sizing: border-box;
  font-family: helvetica;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear; }

a {
  color: inherit;
  text-decoration: none; }

a:visited {
  color: inherit; }

body {
  background-color: #666699;
  padding-top: 60px;
  color: white; }

.card {
  display: inline-block;
  width: 320px;
  height: 420px;
  overflow: hidden;
  padding: 10px; }

.horizontal-line {
  border-top: 1px solid white; }
