<div class="panel">
  <div>
  <div class="card">
    <div class="name">
      Wei Jia (Wesley) Mao
    </div> 
    <div class="info">
      <div class="keyword big">Full Stack</div>
      <div class="keyword big">Javascript</div>
      <div class="keyword small">Node</div>
      <div class="keyword small">Express</div>
      <div class="keyword small">Angular</div>
      <div class="keyword small">jQuery</div>
    </div>
    <div class="links">
      <a href="mailto:wjmao88@gmail.com">
        <div class="link-icon">
          <img src="assets/gmail.svg">
        </div>
      </a>
      <a href="http://github.com/wjmao88">
        <div class="link-icon">
          <img src="assets/octocat.svg">
        </div>
      </a>
      <a href="https://www.linkedin.com/in/wjmao88">
        <div class="link-icon">
          <img src="assets/linkedin.svg">
        </div>
      </a>
    </div>
  </div>
</div>