<div class="panel" ng-controller="ProfileController">
  <div class="photo">
    <img src="assets/me.jpg">
  </div>
  <div class="card">
    <div class="name">
      Wei Jia (Wesley) Mao
    </div> 
    <div class="info">
      <div class="keyword big" ng-repeat="skill in skills.big">{{skill}}</div>
      <div class="keyword medium" ng-repeat="skill in skills.medium">{{skill}}</div>
      <div class="keyword small" ng-repeat="skill in skills.small">{{skill}}</div>
    </div>
    <div class="links">
      <a href="mailto:wjmao88@gmail.com">
        <div class="link-icon">
          <img src="assets/gmail.svg">
        </div>
      </a>
      <a href="http://github.com/wjmao88">
        <div class="link-icon">
          <img src="assets/octocat.svg">
        </div>
      </a>
      <a href="https://www.linkedin.com/in/wjmao88">
        <div class="link-icon">
          <img src="assets/linkedin.svg">
        </div>
      </a>
    </div>
  </div>
</div>