<div class="projects" ng-controller="ProjectController">
  <section class="project" ng-repeat="project in projects">
    <header>
      <span class="title">
        {{project.name}}
      </span>
      <span class="info">
        {{project.location}} - {{project.time}}
      </span>
    </header>
    <div class="link" ng-repeat="link in project.links">
      <a href="{{link.url}}" >
        <i>{{link.name}}</i>
      </a>
    </div>
    <div class="description">
      <i>{{project.description}}</i>
    </div>
    <div>
      <div class="tech-keyword medium" ng-repeat="tech in project.techs">
        {{tech}} 
      </div>
    </div>
    <ul>
      <li ng-repeat="detail in project.details">
        {{detail}}
      </li>
    </ul>
  </section>
</div>