.panel{
  margin: 90px;
  padding: 5%;
  background-color: #eeeeee;
  @extend %clearfix;

  max-width: 1100px;

  .card{
    float: left;
    max-width: 600px;
  }

  .photo {
    float: right;
    margin: 10px;
    width: 150px;
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }

  .name{
    font-size: 2.5em;
    font-weight: 900;
  }

  .info {
    margin: 30px 0;
    width: 100%;
  }

  .keyword {
    display: inline-block;
    padding: 9px;
    margin: 6px;
    border-radius: 6px;
    background-color: #6666ee;
    color: #eeeeee;
    &.big {
      font-size: 1.5em;
    }
    &.medium {
      font-size: 1.2em;
    }
    &.small {
      font-size: 1em;
    }
  }

  .links {

    a {
      display: inline-block;
      margin: 10px;
    }

    .link-icon{
      cursor: pointer;
      border-radius: 100%;
      width: 90px;
      height: 90px;
      background-color: #ddddff;
    }

    .link-icon:hover{
      background-color: #aaaaff;
    }

    img {
      margin: 21px;
      width: 48px;
      height: 48px;
    }
  }
}