.panel{
  @extend %clearfix;
  margin: 0 auto;
  max-width: 700px;

  .card{
    background-color: $color-main;
    $br: 12px;
    .photo {
      overflow: hidden;
      margin: 5px auto;
      width: 195px;
      height: 246px;
      img {
        width: 195px;
        height: 246px;
      }
    }

    .name{
      font-size: 1.5em;
      font-weight: 900;

      padding: 10px;

      color: $color-white;

      text-align: center;
    }
  }

  .links {

    width: 300px;

    a {
      margin: 10px 10px;
      float: right;
    }

    .link-icon{
      cursor: pointer;
      border-radius: 100%;
      width: 80px;
      height: 80px;
      background-color: $color-light;
    }

    .link-icon:hover{
      background-color: $color-main;
    }

    img {
      margin: 20px;
      width: 40px;
      height: 40px;
    }
  }

  .skills{
    clear: both;
    width: 100%;
  }
}