.projects {
  min-width: 300px;
  max-width: 600px;
  margin: auto;
  .project {
    margin: 5px;
    padding: 10px;
    border: solid black 1px;
  }
  header{
    @extend %clearfix;
  }
  .info{
    float: right;
  }
}