.projects {
  .project {
    background-color: $color-main;
    border: solid 1px $color-white;
    padding: 20px;
    margin: 10px auto;
    min-width: 300px;
    max-width: 600px;

  }
  header{
    @extend %clearfix;

    .title{
      font-size: 1.8em;
    }
    .info{
      float: right;
    }
  }

  .description{
    font-size: 1.2em;
    margin: 5px;
  }

  .link {
    text-decoration: underline;
  }

  li{
    
    font-size: 1.2em;
  }
}