.card-img{
  width: 260px;
  height: 260px;
  margin: 20px auto;
} 

.waterbase-img{
  img{
    width: 50%;
    height: auto;
    margin: 25%;
  }

  background-image: url(../assets/waterbase_bg.png);
  background-size: 100%;
}

.twenty-img{
  img{
    height: 100%;
    width: auto;
    display: inline;
  }
}

.project-overview{
  text-align: center;

  .title{
    font-size: 2em;
  }

  .description{
    font-size: 1.2em;
    text-align: left;
    margin: 5px;
  }
}